<h1 class="mt-5">Selectores animados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar">
    <div class="row">
        <!-- region -->
        <div class="col-12 mb-3">
            <label class="form-label">Continente:</label>
            <select class="form-control" formControlName="region">
                <option value="">-- Seleccione continente --</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{region}}</option>
            </select>
        </div>

        <!-- paises -->
        <div class="col-12 mb-3">
            <label class="form-label">País:</label>
            <select class="form-control" formControlName="pais">
                <option value="">-- Seleccione país --</option>
                <option *ngFor="let pais of paises" [value]="pais.cca3">{{pais.name.common}}</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>


<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>